project_1/data/dst-3.0_16_1_hh_database.csv
Projects/project_1/data/dst-3.0_16_1_hh_database.csv

Projects/project_3/data/hotels.csv
Projects/project_3/data/hotels_train.csv
Projects/project_3/data/hotels_test.csv
EDA/Kaggle/test_data.csv
EDA/Kaggle/train_data.csv
Projects/project_5/data/train.csv
Projects/project_5/data/osrm_data_train.csv
Projects/project_5/data/Project5_osrm_data_test.csv
Projects/project_5/data/Project5_test_data.csv
Math/math14/data/dst-3.0_mathml_14_5_rating.csv
Math/math14/data/movie.csv
